<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<script src="https://kit.fontawesome.com/7c6793a68c.js"></script>
	<link rel="stylesheet" type="text/css" href="./source/bootstrap4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./start-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./portfolio.css">
    <script src="./source/bootstrap4/js/jquery.js"></script>
    <script src="./source/bootstrap4/js/popper.js"></script>
    <script src="./source/bootstrap4/js/bootstrap.js"></script>
</head>
<body>
	<div class="contact" id="contact" style="padding: 128px 0;">
		<div class="container text-center">
			<p class="h1 my-4">Let's Get In Touch!</p>
			<hr class="divider my-4">
			<p class="h5 my-4" style="color: #6c757d;">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
			<div class="row">
				<div class="col-lg-6">
					<i class="fas fa-phone fa-4x mb-4 text-muted"></i>
					<p class="h6">0931-844-xxx</p>
				</div>
				<div class="col-lg-6">
					<i class="fas fa-envelope fa-4x mb-4 text-muted"></i>
					<p class="h6">contact@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright text-center" id="copyright" style="padding: 75px 0; background-color: #f8f9fa;">
		<div class="col-lg-12 text-monospace">Copyright © 2019 - Start Bootstrap</div>
	</div>
</body>
</html>