<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download</title>
	<script src="https://kit.fontawesome.com/7c6793a68c.js"></script>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="./source/bootstrap4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./start-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./portfolio.css">
    <script src="./source/bootstrap4/js/jquery.js"></script>
    <script src="./source/bootstrap4/js/popper.js"></script>
    <script src="./source/bootstrap4/js/bootstrap.js"></script>
</head>
<body>
	<div id="download" class="bg-secondary download" style="padding: 128px 0;">
		<div class=" text-center text-white">
			<p class="my-4 h3">Free Download at Start Bootstrap!</p>
			<a class="btn btn-light btn-xl badge-pill js-scroll-trigger text-dark px-4 py-3 text-uppercase font-weight-bolder" href="#">Download now!</a>
		</div>
	</div>
</body>
</html>