<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="./source/bootstrap4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./start-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./portfolio.css">
    <script src="./source/bootstrap4/js/jquery.js"></script>
    <script src="./source/bootstrap4/js/popper.js"></script>
    <script src="./source/bootstrap4/js/bootstrap.js"></script>
</head>

<body>
    <div id="portfolio" class="portfolio">
        <div class="row d-flex h-100" >
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureOne d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureTwo d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureThree d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureFour d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureFive d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
	            <div class="pictureSix d-flex">
	            	<div class="overlay bg-danger flex-grow-1 d-flex flex-column align-items-center justify-content-center">
	            		<p style="color: #ffffff80;" class="text-uppercase h4">category</p>
	            		<p class="text-capitalize h4 text-white">project name</p>
	            	</div>	  
	            </div>
            </div>
        </div>
    </div>
</body>

</html>