<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Services</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./source/bootstrap4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./start-bootstrap.css">
    <script src="./source/bootstrap4/js/jquery.js"></script>
    <script src="./source/bootstrap4/js/popper.js"></script>
    <script src="./source/bootstrap4/js/bootstrap.js"></script>
</head>
<body>
	<div style="padding: 128px 0;" id="services" class="services">
		<div class="container">
			<div class="col-lg-12 text-center my-3">
				<p class="h2 text-capitalize">
					At Your Service
				</p>	
				<hr class="divider my-4">
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fas fa-4x fa-gem text-danger mb-4"></i>
					<p class="h3">Sturdy Themes</p>
					<p class="h6 text-secondary">Our themes are updated regularly to keep them bug free!</p>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fas fa-4x fa-gem text-danger mb-4"></i>
					<p class="h3">Up to Date</p>
					<p class="h6 text-secondary">All dependencies are kept current to keep things fresh.</p>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fas fa-4x fa-gem text-danger mb-4"></i>
					<p class="h3">Ready to Publish</p>
					<p class="h6 text-secondary">You can use this design as is, or you can make changes!</p>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<i class="fas fa-4x fa-gem text-danger mb-4"></i>
					<p class="h3">Made with Love</p>
					<p class="h6 text-secondary">Is it really open source if it's not made with love?</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>